@{
  Layout = "_Layout";
}

@using System.Linq; 
@using SweetShop.Models;
@model List<SweetShop.Models.Treat>;

<h1>Treats By Name</h1>

<ul>
  @foreach(Treat treat in Model)
  {
    
      <li>@Html.ActionLink($"{treat.Name}","Details", new { id = treat.TreatId })</li>
       <p> EnrollmentDate: @treat.EnrollmentDate.ToString("d")</p> 

  }
</ul>

<p>@Html.ActionLink("Add new Treat", "Create")</p>